body {
    font-family: arial, sans-serif;
    font-size: 13px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    opacity: 0.75;
}
ul {
    list-style: none;
}
.head-container {
    display: flex;
    justify-content: space-between;
}
.head a:link,
.head a:active,
.head a:visited {
    color: rgb(0, 0, 0);
}
.head-container-left {
    margin-left: 22px;
    margin-top: 16px;
    opacity: 0.8;
}
.head-container-right {
    margin-right: 20px;
}
.head {
    display: inline;
    margin: 22px 6px;
}
.apps {
    width: 23px;
    position: relative;
    top: 8px;
    opacity: 0.8;
}
.avatar {
    width: 30px;
    position: relative;
    top: 9px;
    border-radius: 50%;
}

.main {
    flex: 1;
}
.main-logo {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.form-container {
    display: flex;
    justify-content: center;
}
.search-bar {
    z-index: 1;
    position: relative;
    top: 50px;
    width: 580px;
    height: 45px;
    border-radius: 290px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    padding-left: 40px;
    font-size: 15px;
    background-image: url(../images/mag.jpg);
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 9px 9px;

}
.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(82, 82, 82, 0.3);
    border-color: white;
}

.search-bar:focus {

}

.foot-container {
    border-top: 1px solid #dadce0;
    background-color: #f2f2f2;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.foot {
    display: inline-block;
    margin: 13px 12px;
    font-size: 14px;
}
.foot a:link,
.foot a:active,
.foot a:visited {
    color: rgb(102, 102, 102);
}
.foot-container-left {
    margin-left: 18px;
}

.foot-container-right {
    margin-right: 18px;
}

